#first-content {
  width: 95%;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  .first-content-description {
    h2 {
      font-size: 36px;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      margin: 0 0 12px;
    }
    h3 {
      font-family: "Montserrat", sans-serif;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.4em;
      margin: 0 0 14px;
    }
    p {
      line-height: 22px;
      font-size: 17px;
      font-weight: 400;
      font-family: "Lato";
      margin: 0 0 12px;
      &:last-child {
        margin-bottom: 24px;
      }
    }
  }
  .anchor-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    figure {
      margin: 0;
      font-size: 200px;
      color: $primary-color;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #first-content {
    width: 90%;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #first-content {
    margin: 60px auto;
    width: 800px;
    flex-direction: row;
    .anchor-icon {
      figure {
        margin: 0 40px;
      }
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #first-content {
    margin: 80px auto;
    width: 900px;
    .anchor-icon {
      figure {
        margin: 0 80px;
      }
    }
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  #first-content {
    margin: 120px auto;
    width: 1100px;
    .anchor-icon {
      figure {
        margin: 0 120px;
      }
    }
  }
}