#navbar {
  background-color: $primary-color;
}

@mixin navbar-link-active {
  background-color: $light;
  color: $dark;
}

@mixin nav-link {
  display: block;
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 700;
  padding: 12px 24px;
  color: $light;
  text-decoration: none;
  text-transform: uppercase;
  transition: 250ms ease-in-out;
}

.navbar-menu-link {
  display: block;
  width: fit-content;
  color: $light;
  padding: 12px 16px;
  transition: 250ms ease-in-out;
  &:hover {
    color: $dark;
    background-color: $light;
  }
}

.navbar-links-container {
  position: relative;
}

#nav-links {
  position: absolute;
  width: 100%;
  background-color: $primary-color;
  height: auto;
  z-index: 1;
}

.nav-links-hidden {
  display: none;
}

.nav-links-displayed {
  display: block;
}

.navbar-link {
  @include nav-link;
  &:hover {
    @include navbar-link-active;
  }
}

.navbar-link-active {
  @include navbar-link-active;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  #navbar {
    .navbar-links-container {
      box-shadow: none;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #navbar {
    .navbar-links-container {
      box-shadow: 0px 0px 10px rgba($dark, 0.75);
    }
  }
  .navbar-menu-link {
    display: none;
  }
  .nav-links-hidden {
    display: flex;
  }
  #nav-links {
    position: relative;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}