#quote {
  background-color: $gray-dark;
  padding: 64px 0;
  p {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    color: $light;
    margin: 0;
  }
}